<div>
  <p>
    <%= button_to 'Back to post', post_path(@comment.post), method: :get %>
  </p>

  <%= render 'comments/comment', comment: @comment, comments_by_parent: @comment.post.comments_by_parent %>
</div>

<div>
  <p>Reply to this comment:</p>
  <%= render 'form', parent_comment: @comment, comment: Comment.new %>
</div>
