<div>
  <p>
    <%= button_to 'Back to post', :back, fallback_location: post_path(@comment.post), method: :get %>
  </p>

  <%= render 'comments/comment', comment: @comment %>
</div>

<div>
  <p>Reply:</p>
  <%= render 'form', parent_comment: @comment, comment: Comment.new %>
</div>
