<%= button_to 'Back to avaliable subs', subs_path, method: :get %>

User profile

<p>
  username: <%= @user.username %>
</p>
<p>
  email: <%= @user.email %>
</p>
<p>
  Subs moderated by user:
  <ul>
    <% @user.subs.each do |sub| %>
      <li><%= link_to sub.name, sub_path(sub) %></li>
    <% end %>
  </ul>
</p>
